- model_class = Entry
/.page-header
/  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.row
  .col-md-6
    %h2= "新着ニュース"
    %table.table.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:published_at)
          %th= model_class.human_attribute_name(:title)
          %th= model_class.human_attribute_name(:view_count)
          %tbody
            - @new_entries.each do |entry|
              %tr
                %td= entry.published_at.strftime("%m月%d日 %H:%M")
                %td= link_to entry.title, entry_accessor_path(id: entry.id)
                %td= entry.view_count
  .col-md-6
    %h2= "人気のニュース"
    %table.table.table-condensed
      %thead
        %tr
          %th= model_class.human_attribute_name(:published_at)
          %th= model_class.human_attribute_name(:title)
          %th= model_class.human_attribute_name(:view_count)
          %tbody
            - @popular_entries.each do |entry|
              %tr
                %td= entry.published_at.strftime("%m月%d日 %H:%M")
                %td= link_to entry.title, entry_accessor_path(id: entry.id)
                %td= entry.view_count


