= form_for @entry, html: { class: "form form-horizontal entry" } do |f|
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
    = error_span(@entry[:title])
  .form-group
    = f.label :url, class: 'control-label'
    .controls
      = f.text_field :url, class: 'form-control', required: true
    = error_span(@entry[:url])
  .form-group
    = f.label :summary, class: 'control-label'
    .controls
      = f.text_field :summary, class: 'form-control', required: true
    = error_span(@entry[:summary])
  .form-group
    = f.label :published_at, class: 'control-label'
    .controls
      = f.text_field :published_at, class: 'form-control', required: true
    = error_span(@entry[:published_at])
  .form-group
    = f.label :feed_id, class: 'control-label'
    .controls
      = f.text_field :feed_id, class: 'form-control', required: true
    = error_span(@entry[:feed_id])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), entries_path, :class => 'btn btn-default'
